/* 'Sniglet', cursive; */
/* 'Amatic SC', cursive; */
body {
    font-family: "Sniglet", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 15px 35px 45px 35px;
    background-image: linear-gradient(lightcyan, blue);
}
/* TEXT:  "ADDING POLYNOMIALS WITH IMAGINARY TERMS" */
h1 {
    font-size: 2rem;
    color: red;
    letter-spacing: 2px;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px aqua;
}
iframe {
    margin: 15px 33%;
    border: 2px white solid;
}
footer {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    font-family: 'Bilbo';
}